.services_container {
    background-image: url(../../Assets/services_background.svg);
    /* background: rgb(253,254,255);
    background: linear-gradient(120deg, rgba(253,254,255,1) 45%, rgba(0,0,0,1) 46%); */
    /* height: 100vh; */
  background-size: cover;
  padding: 2rem;
  text-align: center;
}

.services_container h1 {
    color: white;
    margin: 0;
}
.services_content {
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
}

.services_cards {
    
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.services_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

}

.services_description h1 {
    color: black;
    margin: 0;
}

.services_description_paragraph {
    width: 70%;
}