.header_container {
    background-image: url(../../Assets/header_background.svg);
    /* background: rgb(253,254,255); */
    /* background: linear-gradient(112deg, rgba(253,254,255,1) 42%, rgba(0,0,0,1) 42%); */
    /* height: 100vh; */
  background-size: 100% 100%;
  /* -o-background-size: 100% 100%; */
  /* -webkit-background-size: 100% 100%; */
  background-size: cover;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    
    
    /* align-items: center; */
}
.header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.header_logo img {
    height: 450px;
    width: 450px;
}

.header_title {
    width: 100%;
    margin-left: 10rem;
    margin-top: 5rem;
    color: white;
}

.header_logo button {
    background-color: transparent;
    font-weight: 800;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: black;
    cursor: pointer;
}

.header_logo button:hover {
    background-color: black;
    color: white;
}