.card_container {
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.card_container:hover{
    transform: scale(1.05);
    transition: 0.25s;

}

.card_container h2 {
    margin-top: 0.5rem;
    color: black;
}
.card_container p {
    color: black;
}


.card_container button {
    background-color: transparent;
    font-weight: 800;
    height: 40px;
    width: 130px;
    border-radius: 25px;
    border-color: black;
    cursor: pointer;
    
}

.card_container button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}